:root {
    --orange: #fd9940;
    --darkorange: #dd7d25;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }
  .bg-yellow{
    background-color: #EA9E3A !important;
    width: 80px;
    height: 3px;
    border-radius: 8px;
    /* margin: 0 auto; */
}
  
.card1 {
    display: flex;
    flex-direction: column;
   padding: 80px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  
}

.slider-item{
  
  
    width: 300px;
    height: 500px;



  
  }



  
 
  
 
  
 
  
  
  
  .card1:hover {
    color: var(--white);
    background: var(--orange);
  }
  
  
  
 
  
 
  
  
  
  .card1:hover .card-link {
    background: var(--darkorange);
  }
  
  
  
  
  
  
  @media (min-width: 1100px) {
    .cards {
      grid-auto-columns: calc(25% - 30px);
      grid-column-gap: 40px;
    }
  }
  